.container
{
   background-image: url("C:\Users\banus\OneDrive\Pictures\Mine\siva.jpeg");
   background-repeat: no-repeat;
    color:black;
    height: 100vh;
    display: flex;
    justify-content:center;

}